/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 18 mar 2025, 15:17:38
    Author     : Albin
*/
/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 18 mar 2025, 15:12:34
    Author     : Albin
*/
.anchor-pane {
    -fx-background-color: #2E4053;
    -fx-background-image: url("/Images/dificultad.jpg");
    -fx-background-size: cover;
    -fx-background-position: center;
    -fx-border-color: white;
    -fx-border-width: 2px;
}
.button {
    -fx-background-color: #003366;
    -fx-text-fill: #00bfff;
    -fx-border-color: #00bfff;
    -fx-border-width: 2px;
    -fx-background-radius: 5px;
    -fx-border-radius: 5px;
    -fx-font-size: 14px;
}
.choice-box {
    -fx-background-color: #003366;
    -fx-text-fill: #00bfff;
    -fx-border-color: #00bfff;
    -fx-border-width: 2px;
    -fx-background-radius: 5px;
    -fx-border-radius: 5px;
    -fx-font-size: 14px;
}
.text-field {
    -fx-background-color: #003366;
    -fx-text-fill: #00bfff;
    -fx-border-color: #00bfff;
    -fx-border-width: 2px;
    -fx-background-radius: 5px;
    -fx-border-radius: 5px;
    -fx-font-size: 14px;
}